#components-layout-demo-custom-trigger__3Ri2x .trigger__zsppO {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}
#components-layout-demo-custom-trigger__3Ri2x .trigger__zsppO:hover {
  color: #1890ff;
}
.site_layout__-UcNY .site_layout_header__fprzq {
  background: #fff;
}
.site_layout__-UcNY .site_layout_content__RUy30 {
  background: #fff;
  margin: 24px 16px;
  padding: 24px;
  min-height: 80vh;
}

.loginForm__10LHj {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.login_form__3PsLY {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login_form__3PsLY .login_form_info__3tu9y {
  margin-bottom: 25px;
}

.details_layout__hHfFu {
  padding: 15px;
  margin: 0px;
}
.avatar_panel__1HRY1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.header_layout__2Moob {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 10px 0px;
}
.header_layout__2Moob .header_layout_i18n__1oQ9B {
  margin-right: 15px;
}
.header_layout__2Moob .header_layout_avatar__2E88S {
  margin-right: 15px;
}
.header_layout__2Moob .header_layout_button__1o-ol {
  margin-right: 15px;
}

.home_title__-Nas_ {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px 15px;
  margin-bottom: 25px;
  width: 100%;
}

