.inputField {
    display: flex;
    justify-content: space-around;
    
    .field {
        background-color: #ffffff;
        border-radius: 6px;
        border-color: #D0D7DD;
        line-height: 1.25;
        color: #000000;
        height: 30px;
        font-size: 14px;
        padding-right: 25px;
        font-weight: bold;
    }
}